<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
      <!-- Probably going to be changed in the future.-->
      <a href="#"><h1 class="site-title"><i class="fa fa-camera-retro"></i> spontanigram</h1></a>

      <nav class="navbar">
        <ul class="navlist">
           <!-- Used to navigate to top of page.-->
          <li class="navitem navlink active"><a href="#">Home</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
    </header>
