      <article class="post">
        <div class="post-icon">
          <!-- Probably going to be changed in the future.-->
          <i class="fas fa-camera"></i>
        </div>
        <p class="post-author">
            {{author}}
        </p>
        <div class="delete">
          <button type="button" id="delete-"><i class="fa fa-trash"></i></button>
        </div>
        <div class="post-content">
          <div class="post-image">
             <img src="{{url}}" >
          </div>
          <p class="post-caption">
            {{caption}}
          </p>
        </div>
        <div class="like-button-container">
          <i onclick = "Toggle()" id="likeButton" class="far fa-heart"></i>
        </div>
        <div class="comments-section">
          <button type="button" id="comment-expand-button" class="fa fa-comments"</button>
          {{#each data}}
               {{> comment}}
          {{/each}}
          <i type="button" id="comment-respond-button"><i class="fa fa-comment"></i></i>
        </div>
      </article>
