 <article class="post">
        <div class="post-icon">
          <!-- Probably going to be changed in the future.-->
          <i class="fas fa-camera"></i>
        </div>
        <p class="post-author">
            {{author}}
        </p>
        <div class="post-content">
          <div class="post-image">
             <img src="{{url}}" >
          </div>
          <p class="post-caption">
            {{caption}}
          </p>  
        </div>
        <div class="like">
          <button type="button" id="comment-expand-button"><i class="fa fa-heart"></i></button>
        </div>
        <div class="comments-section">
          <button type="button" id="comment-expand-button"><i class="fa fa-comments"></i></button>
          <div class="comment-content">
            <p class="comment-text">
              Yay! Congrats!
            </p>
            <p class="comment-author">
              A Friend
            </p>
          </div>
          <button type="button" id="comment-respond-button"><i class="fa fa-comment"></i></button>
        </div>
      </article>
