<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Spontanigram</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <!-- Probably going to be changed in the future.-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <!-- Probably going to be changed in the future.-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="main.js" charset="utf-8" defer></script>
    <script src="/mainTemplate.handlebars" charset="utf-8" defer></script>
    <script src="/404Template.handlebars" charset="utf-8" defer></script>
    <script src="/postTemplate.handlebars" charset="utf-8" defer></script>
    <script src="/postContainerTemplate.handlebars" charset="utf-8" defer></script>
    <script src="/postTemplate.js" charset="utf-8" defer></script>
    <script src="/commentTemplate.handlebars" charset="utf-8" defer></script>
    <script src="/headerTemplate.handlebars" charset="utf-8" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  </head>

  <body>

    <header>
          <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
          <!-- Probably going to be changed in the future.-->
          <a href="#"><h1 class="site-title"><i class="fa fa-camera-retro"></i> spontanigram</h1></a>

          <nav class="navbar">
            <ul class="navlist">
               <!-- Used to navigate to top of page.-->
              <li class="navitem navlink active"><a href="http://localhost:3000">Home</a></li>
              <li class="navitem navbar-search">
                <input type="text" id="navbar-search-input" placeholder="Search...">
                <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
              </li>
            </ul>
          </nav>
        </header>

   {{{body}}}

  </body>
  
  <div id="modal-backdrop" class="hidden"></div>
  <div id="create-comment-modal" class="hidden">
    <div class="modal-dialog">

      <div class="modal-header">
        <h3>Comment on a Post</h3>
        <button type="button" class="com-modal-close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div class="comment-input-element">
          <label for="comment-text-input">Comment Text</label>
          <textarea id="comment-text-input"></textarea>
        </div>
        <div class="comment-input-element">
          <label for="comment-author-input">Author</label>
          <input type="text" id="comment-author-input">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="com-modal-cancel-button">Cancel</button>
        <button type="button" class="com-modal-accept-button">Create Post</button>
      </div>
    </div>
  </div>
</html>
