(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['404'] = template({"compiler":[8,">= 4.3.0"],"main":function(container,depth0,helpers,partials,data) {
    return "<html>\r\n  <body>\r\n    <main>\r\n      <h2>404</h2>\r\n      <h3>Sorry, that page doesn't seem to exist.</h3>\r\n    </main>\r\n  </body>\r\n</html>\r\n";
},"useData":true});
})();