.site-title {
	margin: 0; 
	background-color: pink;
	color: white; 
	font-weight: 200;
	padding-top: 15px;
	padding-bottom:15px;
	font-size: 40px;
	text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:focus {
    outline: none; 

}

body {
	margin: 0;
	margin-bottom: 0;
	font-family: 'Helvetica Neue', sans-serif;
	background-color: azure;

}

.navbar {
	background-color: lightblue;
	overflow: hidden; 
	font-size: 25px;
	text-align: center;
	padding-left: 300px;
}

.navlist {
	margin: 0;
	padding: 0;
}

.navitem {
	font-weight: 700;
	display: inline-block; 
	padding: 10px 20px;
}

.navitem.navbar-search {
    float: right; 
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;

}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

.post-containter {
	background-color: pink;
	display: flex;
	flex-wrap: center;

}

.post-caption {
    margin-top: -4px;
    border-bottom: 2px solid lightgrey;
    font-size: 20px;
}

img {
    max-width: 450px; 
}

.post {
	border-radius: 0;
	background-color: white;
	border: 2px solid lightgrey;
	padding-top: auto;
	padding-bottom: 20px;
	width: 450px;
	height: auto;
	margin: auto;
	
}

.post-image {
	max-width: 500px;
	max-height: 500p

}

.post-author {
	position: relative;
	bottom: auto;
	left 70px; 
	margin-top: 8px;
	text-allign: right;
	font-weight: bold;
}

.post-icon {
	position: relative;
	bottom: auto;
	left: auto;
}

.post-caption {
    border-top: 2px solid lightgrey;
    padding-bottom: 50px;
        
}

.comments-section  {
    margin-top: 20px

}

#create-like-button {
    color: red;
	
}

#create-post-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    background-color: lightblue;
    color: pink;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}

.hidden {
  display: none;
}


#create-twit-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}


#create-comment-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}